body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
    background-color: #3ddb35;
    color: #121b20;
}
#highlight-title {
    font-size: 36px;
    color: hsl(233, 81%, 4%);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#highlight-title:hover {
    color: #1bd644; 
    text-shadow: 0 0 5px rgba(224, 252, 14, 0.91); 
}

#highlight-title {
    font-size: 36px;
    color: #fafcef;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#highlight-title:hover {
    color: #061a63;
    text-shadow: 0 0 10px rgba(207, 238, 8, 0.897);
}

#flashing-text {
    font-size: 24px;
    animation: colorChange 5s infinite; 
}

@keyframes colorChange {
    0% {
        color: #d9f82e; 
    }
    25% {
        color: #27e627; 
    }
    50% {
        color: #fa4db8; 
    }
    75% {
        color: #FF00FF; 
    }
    100% {
        color: #ffb651;
    }
}


h3 {
    margin:0;
    text-align: center;
    color: #081976;
}
ul {
    padding:0;
    margin:0;
    list-style:none;
}
 .header-curriculum{
    padding:60px;
    margin-bottom: 30px;
    display: flex;
 }
header {
    display:block;
    align-items: center;
    justify-content: center;
    padding:30px;
    background-color: #070a8d;
    color:#fff;
    border-radius: 8px;
}
.profile-picture {
    margin-right: 20px;
}
.profile-picture img {
    width:150px;
    height:160px;
    border-radius: 50%;
}
.header-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.header-text h2 {
    font-size: 18px;
}
section {
    padding:20px;
    margin-bottom:30px;
    background-color: #f9f9f9;
}
section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    }
    section p {
        margin-bottom: 0;
        font-size: 18px;
        font-family:Arial, Helvetica, sans-serif;
    }
    #skills ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;

    }
    #experience ul {
        padding-left: 20px;
    }
    #experience li {
        margin-bottom: 10px;
    }
    #experience li strong {
        font-size: 18px;
    }
    #experience li p {
        margin-top: 5px;
    }
    footer {
        padding:50px;
        text-align: center;
        font-size: 24px;
        background-color: #070a8d;
        color:#fff;
        border-radius: 8px;
    }
    

    @media (max-width: 768px) {
        header {
            padding: 10px;
        }
    
        .profile-picture img {
            width: 100px;
            height: 100px;
        }
    
        .header-text h1 {
            font-size: 24px;
        }
    
        .header-text h2 {
            font-size: 18px;
        }
    
        section {
            padding: 20px;
        }
    
        section h3 {
            font-size: 20px;
        }
    
        section p {
            font-size: 20px;
        }
    }
    
    
    @media (min-width: 769px) and (max-width: 1024px) {
        
    }


    .github-link {
        text-align: center; 
        font-size: 20px; 
        font-weight: bold; 
        text-decoration: none; 
        color: #ea15a3; 
        background-color: #0a56a7; 
        padding: 10px 20px; 
        border-radius: 5px; 
        display: inline-block; 
        transition: background-color 0.3s, color 0.3s; 
      }
      
      .github-link:hover {
        background-color: #0cf96f; 
        color: #fff; 
      }

      .header-curriculum {
        background-color: #fff;
        height: 100px;
        width: 100%;
        position:fixed;
        top: 0;
        left: 0;
        display:block;
      }
      
      .container {
        display:flex;
        justify-content:flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      
      .nav-right {
        float:inline-end;
        display:flex;
        justify-content:end;
        align-items: center;
        margin-right: 10px;
      }
      
      ul {
        list-style: none;
        display: flex;
        justify-content:last baseline;
        margin-right:5px;
        padding:0;
      }
      
      li {
        margin-bottom: 15px;
      }
      
      a {
        text-decoration: none;
        color: #f1e2e2;
        font-size: 20px;
        background-color: #050f57;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
      }
      
      a:hover {
        background-color: #2dbe14;
        color: #fff;
      }
      
      


      .nav-section {
        margin-bottom: 20px;
      }
      
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      
      ul {
        list-style: none;
        justify-content:baseline;
        margin: 0;
        padding: 0;
      }
      
      li {
        margin-bottom: 10px;
      }
      
      a {
        text-decoration: none;
        color: #efe3e3;
        font-size: 20px;
      }
      

      section {
        background-color: #e3eef4;
        padding: 20px;
      }
      
      h3 {
        font-size: 20px;
        font-weight: bold;
      }
      
      .contact-info {
        margin-bottom: 20px;
      }
      
      .contact-item {
        margin-bottom: 10px;
      }
      
      
      
      